.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--vwh) * 3);
  position: relative;

  .bgImage {
    content: '';
    background-size: cover;
    filter: brightness(0.4);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

.title {
  font-size: calc(var(--vwh) * 3);
  margin-bottom: calc(var(--vwh) * 2);
  background-image: linear-gradient(
    to right,
    var(--bg-yellow-text),
    var(--bg-orange-text)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: calc(var(--vwh) * 2);
}

.card {
  height: auto;
  width: calc(var(--vwh) * 10);
  cursor: pointer;
  transition: transform var(--transition-time) linear;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.gameInitiatedWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: innerShadowTop 3s ease-in-out infinite;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-time) ease;

  &.visible {
    pointer-events: all;
    opacity: 1;
  }

  @keyframes innerShadowTop {
    0% {
      box-shadow: inset 0 calc(var(--vwh) * 2) calc(var(--vwh) * 4)
        calc(var(--vwh) * -1) rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: inset 0 calc(var(--vwh) * 4) calc(var(--vwh) * 8)
        calc(var(--vwh) * -2) var(--border-green-color);
    }
    100% {
      box-shadow: inset 0 calc(var(--vwh) * 2) calc(var(--vwh) * 4)
        calc(var(--vwh) * -1) rgba(0, 0, 0, 0);
    }
  }

  .gameInitiatedContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin-bottom: calc(var(--vwh) * 0.5);
    }

    h2 {
      font-size: calc(var(--vwh) * 4);
      color: var(--bg-orange-text);
      background-image: linear-gradient(
        to right,
        var(--bg-yellow-text),
        var(--bg-orange-text)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
      text-align: center;
      margin-bottom: calc(var(--vwh) * 2);
    }

    button {
      font-size: calc(var(--vwh) * 1);
      padding: calc(var(--vwh) * 0.5) calc(var(--vwh) * 1);
      background: transparent;
      text-align: center;
      color: var(--title-white-color);
      border: 2px solid var(--title-green-color);
      cursor: pointer;
      transition:
        background-color var(--transition-time) ease-in,
        color var(--transition-time) ease-in,
        border-color var(--transition-time) ease-in;
      border-radius: 10px;

      &:hover {
        color: var(--bg-orange-text);
        border-color: var(--bg-orange-text);
      }
    }
  }
}
