.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;

  &::before {
    content: '';
    background-image: url('../../assets/background/background-8.png');
    background-size: cover;
    filter: brightness(0.4);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.userInfo {
  display: flex;

  &.enemy {
    position: absolute;
    right: calc(var(--vwh) * 0.5);
    top: calc(var(--vwh) * 0.1);
  }

  &.player {
    position: absolute;
    left: calc(var(--vwh) * 0.1);
    bottom: calc(var(--vwh) * 0.1);
  }

  .fractionIcon {
    width: calc(var(--vwh) * 3);
    height: calc(var(--vwh) * 3);
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--vwh) * 0.4) 0;

    .role {
      background-image: linear-gradient(
        to right,
        var(--bg-yellow-text),
        var(--bg-orange-text)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
      font-size: calc(var(--vwh) * 1);
    }

    .points {
      color: var(--title-white-color);
      font-size: calc(var(--vwh) * 0.5);
    }
  }
}

.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;

  &.enemy {
    position: absolute;
    width: 100%;
    padding: 0 calc(var(--vwh) * 2) calc(var(--vwh) * 0.5);
    bottom: 50%;
    left: 0;
    right: 0;
  }

  &.player {
    position: absolute;
    width: 100%;
    padding: calc(var(--vwh) * 0.5) calc(var(--vwh) * 2) 0;
    top: 50%;
  }
}
