:root {
  --app-height: 100%;
  --vwh: calc(1vw + 1vh);
  --transition-time: 0.3s;

  --title-green-color: #01D684;
  --border-green-color: rgb(17, 255, 184);
  --bg-orange-text: rgb(226, 167, 62);
  --bg-yellow-text: rgb(250, 223, 122);
  --bg-yellow-etxt-second: rgb(232, 181, 77);
}

@font-face {
  font-family: 'Gwent';
  src: url('./assets/hinted-GWENT-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
  border: none;
}

html,
body {
  display: block;
  position: relative;
  height: var(--app-height);
  width: 100%;
  background: black;
}

body {
  overflow: hidden;
}

#root {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: var(--app-height);
}

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'Gwent', sans-serif;
}